In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
df = pd.read_csv('car_price_prediction.csv')

In [2]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [3]:
df.describe

<bound method NDFrame.describe of              ID  Price  Levy   Manufacturer    Model  Prod. year   Category  \
0      45654403  13328  1399          LEXUS   RX 450        2010       Jeep
1      44731507  16621  1018      CHEVROLET  Equinox        2011       Jeep
2      45774419   8467     -          HONDA      FIT        2006  Hatchback
3      45769185   3607   862           FORD   Escape        2011       Jeep
4      45809263  11726   446          HONDA      FIT        2014  Hatchback
...         ...    ...   ...            ...      ...         ...        ...
19232  45798355   8467     -  MERCEDES-BENZ  CLK 200        1999      Coupe
19233  45778856  15681   831        HYUNDAI   Sonata        2011      Sedan
19234  45804997  26108   836        HYUNDAI   Tucson        2010       Jeep
19235  45793526   5331  1288      CHEVROLET  Captiva        2007       Jeep
19236  45813273    470   753        HYUNDAI   Sonata        2012      Sedan

      Leather interior Fuel type Engine volume    Mileage  Cylinders  \
0                  Yes    Hybrid           3.5  186005 km        6.0
1                   No    Petrol             3  192000 km        6.0
2                   No    Petrol           1.3  200000 km        4.0
3                  Yes    Hybrid           2.5  168966 km        4.0
4                  Yes    Petrol           1.3   91901 km        4.0
...                ...       ...           ...        ...        ...
19232              Yes       CNG     2.0 Turbo  300000 km        4.0
19233              Yes    Petrol           2.4  161600 km        4.0
19234              Yes    Diesel             2  116365 km        4.0
19235              Yes    Diesel             2   51258 km        4.0
19236              Yes    Hybrid           2.4  186923 km        4.0

      Gear box type Drive wheels   Doors             Wheel   Color  Airbags
0         Automatic          4x4  04-May        Left wheel  Silver       12
1         Tiptronic          4x4  04-May        Left wheel   Black        8
2          Variator        Front  04-May  Right-hand drive   Black        2
3         Automatic          4x4  04-May        Left wheel   White        0
4         Automatic        Front  04-May        Left wheel  Silver        4
...             ...          ...     ...               ...     ...      ...
19232        Manual         Rear  02-Mar        Left wheel  Silver        5
19233     Tiptronic        Front  04-May        Left wheel     Red        8
19234     Automatic        Front  04-May        Left wheel    Grey        4
19235     Automatic        Front  04-May        Left wheel   Black        4
19236     Automatic        Front  04-May        Left wheel   White       12

[19237 rows x 18 columns]>

In [4]:
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [5]:
# Fill missing values
df['Category'].fillna('', inplace=True)

# Clean the text
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'[^\w\s]', '', text)
    return text

df['cleaned_text'] = df['Category'].apply(clean_text)

# Tokenize the text
nltk.download('punkt')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def tokenize_text(text):
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

df['tokens'] = df['cleaned_text'].apply(tokenize_text)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8744\3057251419.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Category'].fillna('', inplace=True)

NameError: name 're' is not defined

In [ ]:
# Use TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=1000)
X = vectorizer.fit_transform(df['cleaned_text']).toarray()

# Target variable
y = df['sentiment']  # Assuming the sentiment column contains labels like 'positive', 'negative', 'neutral'

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

In [10]:
# Initialize the model
model = LogisticRegression()

# Train the model
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [12]:
# Make predictions
y_pred = model.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')

NameError: name 'X_test' is not defined

In [14]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(y_test, y_pred)
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')
plt.show()

NameError: name 'y_test' is not defined

In [16]:
import joblib

# Save the model
joblib.dump(model, 'sentiment_model.pkl')

['sentiment_model.pkl']